[submodule "themes/hugo-theme-shell"]
	path = themes/hugo-theme-shell
	url = https://github.com/Yukuro/hugo-theme-shell.git
[submodule "smraisul03.github.io"]
	path = smraisul03.github.io
	url = https://github.com/smraisul03/smraisul03.github.io.git
	branch = main
[submodule "public"]
	path = public
	url = https://github.com/smraisul03/smraisul03.github.io.git
	branch = main
